.add_payment {
    
    width: 100%;
    border-radius: 5px !important;
    margin-top: 10px !important;
    padding: 10px 10px !important;
    background: orange !important;
    color: #fff !important;
    font-weight: bold !important;
    
}
.add_wishlist
{
    background: #fff;
    box-shadow: 5px solid #ccc;
    padding:0px 0px 0px 0px !important;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.add_heads
{
  padding: 15px 0px;
}
.add_header
{
        flexGrow: 1;
        margin: 20px;
}
.add_flexing
{
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  padding: 8px;
}
.add_summary
{
  display: flex;
  padding:8px;
}
.add_price
{
  padding: 10px;
}
.add_payments {
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.add_payments h6 {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    display: flex;
}
.add_payments h6 svg {
    margin-right: 20px !important;
}
.add_coupon
{
  color: green;
    font-weight: bold;
}
.add_total
{
  border-top: 1px dotted green;
    font-weight: bold;
}
.add_total h6
{
  text-align: left;
    padding: 10px 10px;
    background: #deeac4;
    border-radius: 5px;
    color: green;
    font-weight: bold;
}
.add_sum {
    padding: 0px 0px 0px 10px !important;
}
.add_details
{
  padding: 25px 25px 25px 25px;
  border-bottom: 1px solid #ccc;
  margin: 0px auto !important;
  width: 100% !important;
}
.add_banner
{
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  display: flex;
  padding: 5px !important;
  font-size: 20px;
}
.add_flexing svg {
    margin-right: 15px;
   
  }
.add_location
{
    width: 100%;
    background: #000 !important;
    text-transform: capitalize !important;
    padding: 10px 5px !important;
    color: #fff !important;

}
.add_forms .MuiTextField-root
{
 width: 32ch;
 margin: 8px;
}
.add_text
{
  margin:6px;
  padding: 10px 0px;
  
}
.add_radio
{
  display: inline-flex;
  align-items: center;
  margin:6px;
}
.add_radio legend {
    margin-right: 40px;
    font-weight: bold;
}
.add_radio span {
    margin-left: 10px;
}
.MuiRadio-colorPrimary.Mui-checked:hover {
    background-color: #fff !important;
}
.MuiIconButton-colorPrimary:hover {
    background-color: #fff !important;
}
.add_address label
{
  font-weight: bold;
}
.add_address
{
  height: 120px;

}
.add_labels label
{
  font-weight: bold;
}
.add_buttons
{
    padding: 10px 10px !important;
    background: orange !important;
    width: 47%;
    margin: 6px !important;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: capitalize;
}
.add_cancels
{
    padding: 10px 10px !important;
    background: white !important;
    width: 48%;
    margin: 6px !important;
    color: #000 !important;
    border: 1px solid #000 !important;
}
@media only screen and (max-width : 767px) {
.add_forms .MuiTextField-root
{
 width: 100%;
 margin: 8px;
}
.add_sum {
    padding: 15px 0px 0px 0px !important;
}
.add_text {
    margin: 6px 0px 6px 6px;
    padding: 10px 0px;
}
}
