/* Comparison */
.compare_head
{
  padding:8px;
  padding-top: 50px;
}
.compare_title h6
{
  font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.compare_price
{
  text-align: center;
  font-weight: 600 !important;
  color:orange;
  margin-bottom: 5px !important;
    
}
.compare_title span {
    text-align: center;
    margin-bottom: 0px;
}
.compare_title
{
  padding: 20px 10px;
}
.compare_discount
{
    color: #8a8a8a;
    font-size: 13px!important;
    text-align: center;
    margin-bottom: 10px!important;
    font-weight: 600 !important;
}
.compare_addtocart
{
      background: orange !important;
    padding: 10px 20px !important;
    color: #fff !important;
    font-weight: 800 !important;
}
.compare_adds
{
  text-align: center;
}
.compare_brand label {
    font-weight: bold;
    font-size: 16px;
}
.compare_brand
{
  width:200px;
}
.tree
{
    
    border: 1px solid #ccc;
    padding: 10px 10px;
    width: 20%;
}
.tree:nth-child(1) {
    font-weight: bold;
}
.tableview
{
  padding: 0px 0px !important;
}
.Mui-expanded {
    margin: 0px 0 !important;
}
.compare_specification
{
      font-weight: bold !important;
    color: #ff7600;
    font-size: 16px !important;
    margin-left: 10px !important;
}
.compare_buynow
{
    padding: 14px 70px !important;
    margin-top: 20px !important;
    background: #000 !important;
    color: #fff !important;
}
.compare_back
{
  background: #f2f2f2 !important;
}
.compare_page
{
  font-size: 14px !important;
  margin-bottom: 10px !important;
}
.compare_product
{
  font-size: 25px !important;
  text-align: left !important;
  font-weight: 500 !important;
}
.compare_first
{
  text-align: left !important;
    font-size: 15px !important;
    width: 200px !important;
}
.compare_choose
{
      width: 100%;
    margin-bottom: 10px !important;
    margin-left: 40px !important;
}
.MuiOutlinedInput-input {
    padding: 12.5px 14px !important;
}
.icons
{
  color:#ff7600;
}
.iconss
{
  color:#ff7600;
  display: none !important;
}
.MuiPaper-root.MuiAccordion-root.Mui-expanded.MuiAccordion-rounded.MuiPaper-elevation1.MuiPaper-rounded .icons {
    display: none ;
}
.MuiPaper-root.MuiAccordion-root.Mui-expanded.MuiAccordion-rounded.MuiPaper-elevation1.MuiPaper-rounded .iconss {
    display: inline-block !important;
}
@media only screen and (max-width : 767px) {
.compare_product {
    font-size: 25px !important;
    text-align: center !important;
    font-weight: 500 !important;
}
.compare_first {
    text-align: center !important;
    font-size: 15px !important;
    width: 100% !important;
}
.compare_head {
    padding: 8px;
    padding-top: 0px;
}
.valign
{
  text-align: center;
}
.compare_choose {
    width: 100%;
    margin-bottom: 10px !important;
    margin-left: 0px !important;
}
.compare_buynow {
    padding: 12px 20px !important;
    margin-top: 20px !important;
    background: #000 !important;
    color: #fff !important;
}
.compare_addtocart {
    background: orange !important;
    padding: 10px 3px !important;
    color: #fff !important;
    font-weight: 800 !important;
    font-size: 10px !important;
}
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
.compare_addtocart {
    background: orange !important;
    padding: 10px 5px !important;
    color: #fff !important;
    font-weight: 800 !important;
    font-size: 12px !important;
}
.compare_title h6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.MuiOutlinedInput-input {
    padding: 10.5px 0px !important;
}
}
/* Comparison */
