.exchange_offer
{
    font-weight: 900 !important;
    background: #e1f5fe !important;
    border: 1px solid #e1f5fe !important;
    color: #000 !important;
    text-transform: capitalize !important;
    margin: 10px 10px !important;
}
.exchange_work
{
  text-align: center;
    padding: 10px 10px;
}
.exchange_data
{
      padding: 10px 10px;
    background: #f2f4f6;
}
.exchange_data h6
{
  font-weight: bold;
  text-transform: capitalize;
}
.exchange_data h5
{
    font-weight: bold;
    font-size: larger;
    color: #b7bcc2;
    text-transform: capitalize;
    font-family: inherit;

}
.exchange_button
{
    padding: 10px 30px !important;
    background: linear-gradient(to right, #ffa40c 0%, #ff860a 100%) !important;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
}
.exchange_head
{
  font-weight: bold;
  display: -webkit-flex;
  display: flex;
}
.MuiDialogContent-dividers {
   
    border-top: 0px solid rgba(0, 0, 0, 0.12) !important;
    border-bottom: 0px solid rgba(0, 0, 0, 0.12) !important;
    
}
.exchange_divided
{
  padding-bottom: 25px !important;
}
/* end Exchange mobile */