@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
}

.d-flex{
  display: -webkit-box; 
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex; 
display: flex;
}
.topbar {
    background-color: #f15a23!important;
    /* position: fixed!important;
    top: 0px; */
}
.header-menu {
  /* margin-top: 50px; */
}
.logo-wrp
{
  width: 141px;
}
.logo-wrp img
{
  width: 100%;
}

.topinner-bar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index:100;
  top: 0;
}

.search-wrp{
  display: flex;
  align-items: center;
  padding: 7px;
  background-color: #eff2f5;
  border-radius: 33px;
  width: 50%;
}
.sericon{
  color: #000000f2;
}
.search-wrp>input{
   border: none;
   background-color: transparent;
   outline-width: 0;
   width: 100%;

}
.nameicon{
  color: #fff!important;
}
.icon-wrp button {
  margin-left: 10px;
}
.icon-wrp {
  display: flex;
  align-items: center;
}
.mapwrp {
  align-items: center;
  display: flex;
  color: #fff;
}

.mapwrp a{
  color: #fff;
}

/* header */


.header-menu ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    margin-left: -46px;
    background: #f8f8f8;
    box-shadow: 0 2px 4px rgba(56, 56, 56, .22);
    padding: 14px;
    align-items: center;
    margin: 0px;
}

.title-head p {
  margin:0px;
}

.header-menu ul li a{
  
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}



/* product details */

.product-main-wrp{
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.content-product{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}



.thumb-product{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    
  
}
.tumbline{
  
  border-right: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumb-product img{
   width:50%;
   
}

.price{
  display: flex;
  align-items: center;
}

.offerlist ul li {
  padding: 3px!important;
  font-family: 'Roboto', sans-serif;
  font-size: 15px
}

.btn-wrp, .btn-yellow {
  width: 100%;
}
.btn-wrp, .btn-black {
  width: 100%;
}

.btn-yellow{
  
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  border: none;
  color: #fff!important;
  padding: 8px!important;
  background-image: linear-gradient(to right, #ffa60c , #ff7e09);
}

.btn-black{
  background: #000!important;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  border: none;
  color: #fff!important;
  padding: 8px!important;
}


.product-price {
  flex:4;
  margin-left: 25px;
}

.product-addcart {
  flex:2;
}

.storage-wrp h6{
     font-size: 17px;
}

.price h6 {
  font-size: 14px;
  margin-left: 10px;
}

.offerlist {
  width: 533px;
}

.price h4 {
  color: hsl(28deg 100% 53%);
  font-weight: 600;
  font-size: 27px;
}


.chip-wrp {
  color: #388e3c!important;
  border: none!important;
  font-weight: 700;
  background-color: #5cb85c2b!important;
}



.emi-store {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-top: 13px;
  margin-bottom: 10px;
}

.emi-store a {
  margin-left: 10px;
  color: hsl(28deg 100% 53%);
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  font-family: sans-serif;
}

.thumb-product-product{
  display: flex;
}

.thumb-product-product {
  display: flex;
  width: 43%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.tumb-color {
  border-left: 1px solid #ccc;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}
.tumb-color img {
  width: 59%;
  object-fit: contain;
}


.product-addcart p {
  margin-left: 20px;
  margin-top: 20px;
  color: #000;
  font-weight: 700;
}



.prizc-exchange span {
  font-size: 14px;
  
}

.prizc-checkbox{
  font-size: 16px;
}

.prizc-exchange {
  padding:2px!important;
}

.prizc-text h5{
  margin: 0px;
  padding: 0px;
}

.prize-start{
  align-items: start!important;
}
.prizc-text {
  margin-top:4px;
 
}
.prizc-text h5{
  
  color: hsl(28deg 100% 53%);
}

.gr13 h5{
   color: #388e3c!important;
   margin-bottom: 10px;
}

.pricz-order-wrp {
  border: 1px solid #ccc;
}
.btblack span{
  color: #020202;
  font-weight: 600;
}




/* Setdelivery */

 .setdelivery-wrp{
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
 }
 .setdelivery-inner-content h6{
  margin-bottom: 0px;
  font-size: 12px;
  color: #887e7ecf;
}

.setdelivery-inner-content h5{
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 600;
 }

 .deliverwrp{
  /* border: 1px solid #ccc; */
  padding: 14px;
  justify-content: flex-end;
 
}
.wrapper{
  border: 1px solid #ccc;
  padding: 10px;
}
.setdelivery-inner-content {
    border-right: 1px solid #ccc;
    padding: 10px;
}

.setdelivery-inner-content:last-child {
  border-right: none;
}
.setdelivery-inner-content:first-child {
  border-right: none;
}

.setdelivery-inner-content h4{
  font-size: 14px;
  text-align: left;
  font-weight: 700;
}

.se-wrp {
  align-items: center;
  display: flex;
  border-bottom: 1px solid #ccc;
  
}

.se-wrp input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.se-wrp a {
  margin-left: 10px;
  cursor: pointer;
  color: hsl(28deg 100% 53%);
  font-weight: 600;
}

.instock{
  text-align: left;
  display: flex;
  }
.instock h6{
   color:#000;
   margin-top:10px;
   margin-right: 9px;
}


.shad12 {
   box-shadow: 0px 0px 6px #ccc;
}


.instock h6:first-child {
    color: #388e3c!important;
    font-weight: 800;
}


.frwrp
{
  color: #388e3c!important;
  font-weight: 900!important;
}

.frwrprat
{
  color: hsl(28deg 100% 53%);
  font-weight: 900!important;
}




/* description */

.Productdescription{
  display: flex;
  justify-content: space-evenly;
}

.description-wrp h1 {
  font-size: 46px;
}
.description-wrp{
    align-items: center;
    justify-content: center;
    padding-top: 14%;
    padding-bottom: 20%;
    margin-left: 10px;
}

.description-wrp p {
  font-size: 30px;
}

.font-price-kv {
  font-size: 30px;
  margin-top: 25px;
}

/*footer*/
.add-wrp h6{
   color: #fff;
   font-size: 15px;
}
.add-wrp p{
  color: #85888d !important;
}

.keywrp{
  display: flex;
}

.keywrp-main {
  padding: 13px;
  background: #ebebeb !important;
}
.keywrp span {
  margin-left: 8px;
}

.categorylist a {
  background: #ebebeb;
  color: #4e4d4d;
  padding: 6px 10px;
  margin: 8px 5px;
  /* line-height: 45px; */
  display: inline-block;
  border-radius: 50px;
}

.categorylist {
  margin-top: 20px;
}

.newletter{
  display: flex;
  align-items: center;
  width: 32%;
    margin: 0px auto;
    padding: 7px;
    background-color: #eff2f5;
    border-radius: 33px;
}


.newletter>input {
  border: none;
  background-color: transparent;
  outline-width: 0;
  width: 100%;
}

.soc-icon{
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-evenly;
}

.footer-bottom{
  background: #131921 !important;
  margin-top: 20px;
  }

.soc-icon{
  width: 63%;
  margin: 0px auto;
 
}

.footer-cont{
  border-bottom: 1px solid #cccccc8f;
}


.iconwrp {
  width: 20% !important;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #cccccc8f;
  padding: 8px;
}


.iconwrp:first-child {
  border-left:1px solid #cccccc8f;
}

.footer-items-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.footer-about-items{
  width: 60%;
  margin: 0px auto;
  padding-bottom: 40px;
}


.details-wrp{
   display: flex;
   margin-top: 20px;
}

.details-left h6{
  color: #fff;
  font-size: 15px;
}

.details-left p{
  color: #85888d !important;
}

.footer-items {
  width: 60%;
  margin: 0px auto;
}

.details-right {
  margin-left: 14px;
}

.details-right h6{
  color: #fff;
  font-size: 15px;
}


.footer-newletter{
  text-align: center;
  color: #fff;
}


.footer-newletter{
    padding-top: 47px;
    padding-bottom: 41px;
}




.newletter-content>input {
    border: none;
    outline-width: 0;
    width: 100%;
    padding: 11px;
}

.newletter-content {
  width: 37%;
  align-items: center;
  display: flex;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.newletter-content > button {
  margin-left: 5px;
  background-image: linear-gradient(to right, #ffa60c , #ff7e09);
}

.footer-newletter h5 {
  font-size: 16px;
  font-weight: 700;
}

.dir-link{
  background-color: #cccccc8f!important;
}


.about-con {
  margin-top: 33px;
}


.foo-bottom{
  background-color:#1f2a38;
  padding: 10px;
  color:#fff;
  text-align: center;
}
.foo-bottom h6{
  margin-bottom: 0px;
  font-size: 14px;
}


/* protection */

.protection-content {
  display: flex;
  
}

.prot-first {
    display: flex;
    text-align: center;
    align-items: end;
}

.protection-main {
  display: flex;
  padding-bottom: 20px;
 
}
.pro-title {
  padding: 20px;
}
.pro-wrp {
    padding: 18px;
    border: 1px solid #ccc;
    position: relative;
  
}
.inner-wrp {
  padding: 13px;
}

.pro-title h4 {
  margin-left: 14px;
  font-size: 17px;
  font-weight: 600;
}
.readmore p {
  margin-top: 10px;
  color: #7d7878;
}

.prot-second h6 {
  font-size: 16px;
  font-weight: 600;
  color: #2b2b2b;
}
.prot-second {
  margin-left: 10px;
}

.prot-second h5 {
  color: #388e3c!important;
  font-size: 15px;
  font-weight: 800;
}
.prot-second h5 span {
  color: #9e9e9e!important;
  
}

.checkwrp{
    position: absolute!important;
    top: 0px;
    left: 0px;
}

.readmore a{
  color: hsl(28deg 100% 53%);
  font-weight: 700;
}



/* review */
.custmer-review-main{
 
  box-shadow: 0px 0px 2px #ccc;
}
.review-wrp{
  
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.er12{
  display: flex;
  align-items: center;
}
.er13{
  display: flex;
  align-items: center;
}
.er12 h6{
  margin-bottom: 0px;
  margin-left: 6px;
  font-size: 17px;
  font-weight: 600;
}
.er13 h6{
  margin-bottom: 0px;
  margin-left: 6px;
  font-size: 17px;
  font-weight: 500;
}

.rev-mention-wrp{
   display: flex;
  justify-content: space-between;
}

.rate-cont{
  display: flex;
  background: #388e3c!important;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 43px;
}

.rating-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0.50;
    margin-left: 15px;
}

.rating-left {
  flex: 0.50;
  border-right: 1px solid #d0d0d0;
}

.star-left {
  display: flex;
  flex-direction: column;
}

.rev-rating {
  flex: 0.35;
  padding: 20px;
  border-right: 1px solid #ccc;
}
.rev-mentions {
  flex: 0.65;
  padding: 20px;
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}

.rating-left span {
  font-size: 14px;
}

.rating-left h5 {
  font-size: 17px;
  font-weight: 600;
}

.rating-left h4 {
  font-size: 47px;
}

.rating-left h6 {
  font-size: 16px;
}


.value a {
  background: #ebebeb;
  margin-right: 10px;
  padding: 7px;
  border-radius:7px;
  display: inline-block;
  color: #101010;
  margin-bottom: 10px;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
a{
  text-decoration: none!important;
}


.review-product{
   text-align: center;
   margin-top: 30px;
}
.review-product a {
    background: #000;
    margin-top: 20px;
    text-transform: capitalize;
    width: 83%;
    padding: 12px;
}

.review-product legend {
  font-size: #ccc;
  color: #848181;
}

.star-left label {
  color: #fff;
  
}
.star-left > span{
  color: #fff!important;
  
}
.rev-mentions h6 {
  display: flex;
  align-items: center;
}

.review-command {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cmd-section {
  display: flex;
}

.cmd-title {
  margin-left: 17px;
}

.read-cmd {
  margin-top: 16px;
  margin-bottom: 20px;
}

.like-section {
    display: flex;
    flex: 0.10;
    justify-content: space-between;
    color: #636363;
 }


 .add-cmd {
  flex: 0.80;
  
}

.cmd-title h5 {
  align-items: center;
  display: flex;
  color: #464646;
}

.read-cmd h6{
  color: hsl(28deg 99% 49%);
  font-weight: 700;
}

.customwe-wrp {
  padding: 20px;
}



/* Boughttogether */


.Boughttogether-main-wrp {
  padding: 20px;
  
}

.bought-tab {
  box-shadow: 0px 0px 11px #ccc;
  
}

/* .inner-brought-item:last-child 
{
  border-right: none!important;
} */

.bought-tab ul{
  text-align: right;
  border-bottom: none;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin: 0px;
  align-items: center;
}

.react-tabs__tab--selected {
  background: #020202;
  border-color: #aaa;
  color: #fff!important;
  border-radius: 50px;
  border: none;
}

.icon-offer {
  display: flex;
  justify-content: space-between;
}

.inner-brought-item {
  padding: 20px;
  border-right: 1px solid #ccc!important;
  text-align: center;
}

.rat-bought{
  text-align: left;
  margin-top: 31px;
}

.brought-title h4 {
  font-size: 17px;
  font-weight: 600;
  margin-left: 14px;
}

.rat-bought p{
   color: #000;
   font-weight: 600;
}
.rat-bought h4
{
color: hsl(28deg 100% 53%);
font-weight: 700;
margin-top: 8px;
}
.rat-bought h5 {
  color: #388e3c!important;
  font-weight: 900!important;
  margin-top: 8px;
  font-size: 15px;
}

.icon-offer h6 {
  color: #388e3c!important;
  border: none!important;
  font-weight: 700;
  background-color: #5cb85c2b!important;
  border-radius: 50px;
  padding: 5px 17px;
  font-size: 12px;
}

.rat-bought span {
  color: #888383;
  margin-left: 10px;
}

.brought-item li {
  border: 1px solid #3c3c3c;
  border-radius: 50px;
  margin-right: 10px;
  color: #3c3c3c;
}

/* start compare product */
.compareproduct
{
  position: absolute;
}
.compare_header h4 {
  font-size: 17px;
  font-weight: 600;
  margin-left: 30px;
}
.icon-offers p
{
    margin-right: auto;
    margin-top: 1px;
    margin-left: 5px;
    font-weight: bold;
}
.icon-offers svg
{
  color:orange;
}
.icon-offers h6 {
  color: #388e3c!important;
  border: none!important;
  font-weight: 700;
  background-color: #5cb85c2b!important;
  border-radius: 50px;
  padding: 5px 17px;
  font-size: 12px;
}
.icon-offers {
  display: flex;
  justify-content: space-between;
}
.listdata svg
{
  font-size: small !important;
  color:green;
}
.listdata p {
    margin-left: 15px;
    font-weight: 600;
    color: #888888;
    font-size: 12px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listdata
{
  padding: 0px !important;
}
.productdata h51 {
    color: #ff7e08 !important;
    text-align: start;
    font-size: 18px;
    line-height: 20px;
}

.productdata h6 {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    text-align: start;
    line-height: 25px;
}
.productdata h5 {
    color: #888888 !important;
    text-align: start;
    font-size: 15px;
    line-height: 25px;
}
.productdata h4 {
    color: #ff7e08 !important;
    text-align: start;
    font-size: 18px;
    line-height: 25px;
}
.brought-item p {
    float: right;
    padding: 8px;
    text-decoration: underline;
}
@media only screen and (max-width: 450px) {
  
  .inner-brought-item {
    border-bottom: 1px solid #ccc!important;
    border-right: none !important;    
}
.compareproduct {
    position: initial !important; 
}
}

/* end compare style */

/* Apple Product */
.listdatas p {
    margin-left: 15px;
    /* font-weight: 600; */
    color: #2b2b2b;
    font-size: 15px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listdatas svg
{
  font-size: small !important;
  color:#2b2b2b;
}
.listdatas
{
  padding: 0px !important;
}


.address_data h6
{
      color: #000 !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}
.address_data p
{
  color: #191919 !important;
    /* font-size: 15px; */
    font-weight: 600;
    line-height: 25px;
}

.button_back
{
  background-color: #ffffff !important;
  border: 1px solid #aeaeae !important;
  margin:0px 10px !important;
}


/* Address  page css */
.address_option
{
    background: #ededed ;
    padding: 5px 10px 5px 10px ;
    font-size: 14px ;
    border-radius: 10px ;
    font-weight: 600 ;
}
.address_data h6
{
      color: #000 !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}
.address_data p
{
  color: #191919 !important;
    /* font-size: 15px; */
    font-weight: 600;
    margin-bottom: 15px;
    width:100%;
}

.button_back
{
  background-color: #ffffff !important;
  border: 1px solid #aeaeae !important;
  margin:0px 10px !important;
}

.address-details
{
  box-shadow: none !important;
    border-bottom: 1px solid #aeaeae;
    border-radius: 0px !important;
}
.address_span
{
    padding: 5px 15px;
    /* background: #a94747; */
    border: 1px solid #ccc;
    border-radius: 5px;
    color: green;
    margin: 20px 20px;
}
.address_price
{
  padding: 10px;
}
.summary
{
  padding-top: 0px !important;

}
.flexing {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 8px;
}
.address_total h6
{
  text-align: left;
    padding: 10px 10px;
    background: #deeac4;
    border-radius: 5px;
    color: green;
    font-weight: bold;
}
.address_payment
{
  border:1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.address_payment h6 {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    display: flex;
}
.address_total
{
  border-top: 1px dotted green;
    font-weight: bold;
}
.address_link
{
  margin: 0px 350px;
}
.colorchange
{
  color: orange;
  display: inline-flex;
  padding: 8px;
  align-items: center;
}
.cart_banner
{
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  display: flex;
  padding: 10px !important;
}
.address_paper
{
        margin: auto;
        maxWidth: 100%;
        padding:25px;
        border-bottom:1px solid #ccc;
}
.address_grid
{
    background: #fff;
    box-shadow: 5px solid #ccc;
    border-radius: 10px;
    padding:10px 10px 10px 0px !important;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.address_paper:last-child
{
  border-bottom: none !important;
}
.address_steps
{
  margin:auto 20%;
}
.PrivateSwitchBase-input-4
{
  display: none !important;
}
.cart_flexing
{
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  padding: 8px;
}
.address_summary
{
  display: flex;
  padding:8px;
}

.heads
{
  padding: 10px;
}
.flexing svg
{
  margin-right: 10px;
}
.address_payment h6 svg{
    margin-right: 20px;
}
.address
{
  width: calc(100% + 24px);
  margin: -12px;
}

@media only screen and (max-width : 380px) {
  
.address_data p {
   
    font-size: 15px;
   
       width: 100%;
}
.address_option {
    margin-top: 20px !important;
    margin-left: 50px !important;
}
}
@media screen and (max-width: 590px) and (min-width: 401px) {
  .address_link {
     margin: 0px 0px !important; 
}
.address_data p {
    
    width: 100%;
    font-size:13px;
}
.address_span {
    padding: 5px 10px !important;
  
}

.button_back {
    
    margin: 0px 3px !important;
}
}
@media screen and (max-width: 767px) and (min-width: 591px) {
 .address_option {
    margin-top: 20px !important;
    margin-left: 50px !important;
}
}

/* Address  page css */


/* Comparison */
.compare_head
{
  padding:8px;
  padding-top: 50px;
}
.compare_title h6
{
  font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.compare_price
{
  text-align: center;
  font-weight: 600 !important;
  color:orange;
  margin-bottom: 5px !important;
    
}
.compare_title span {
    text-align: center;
    margin-bottom: 0px;
}
.compare_title
{
  padding: 20px 10px;
}
.compare_discount
{
    color: #8a8a8a;
    font-size: 13px!important;
    text-align: center;
    margin-bottom: 10px!important;
    font-weight: 600 !important;
}
.compare_addtocart
{
      background: orange !important;
    padding: 10px 20px !important;
    color: #fff !important;
    font-weight: 800 !important;
}
.compare_adds
{
  text-align: center;
}
.compare_brand label {
    font-weight: bold;
    font-size: 16px;
}
.compare_brand
{
  width:200px;
}
.tree
{
    
    border: 1px solid #ccc;
    padding: 10px 10px;
    width: 20%;
}
.tree:nth-child(1) {
    font-weight: bold;
}
.tableview
{
  padding: 0px 0px !important;
}
.Mui-expanded {
    margin: 0px 0 !important;
}
.compare_specification
{
      font-weight: bold !important;
    color: #ff7600;
    font-size: 16px !important;
    margin-left: 10px !important;
}
.compare_buynow
{
    padding: 14px 70px !important;
    margin-top: 20px !important;
    background: #000 !important;
    color: #fff !important;
}
.compare_back
{
  background: #f2f2f2 !important;
}
.compare_page
{
  font-size: 14px !important;
  margin-bottom: 10px !important;
}
.compare_product
{
  font-size: 25px !important;
  text-align: left !important;
  font-weight: 500 !important;
}
.compare_first
{
  text-align: left !important;
    font-size: 15px !important;
    width: 200px !important;
}
.compare_choose
{
      width: 100%;
    margin-bottom: 10px !important;
    margin-left: 40px !important;
}
.MuiOutlinedInput-input {
    padding: 12.5px 14px !important;
}
.icons
{
  color:#ff7600;
}
.iconss
{
  color:#ff7600;
  display: none !important;
}
.MuiPaper-root.MuiAccordion-root.Mui-expanded.MuiAccordion-rounded.MuiPaper-elevation1.MuiPaper-rounded .icons {
    display: none ;
}
.MuiPaper-root.MuiAccordion-root.Mui-expanded.MuiAccordion-rounded.MuiPaper-elevation1.MuiPaper-rounded .iconss {
    display: inline-block !important;
}
@media only screen and (max-width : 767px) {
.compare_product {
    font-size: 25px !important;
    text-align: center !important;
    font-weight: 500 !important;
}
.compare_first {
    text-align: center !important;
    font-size: 15px !important;
    width: 100% !important;
}
.compare_head {
    padding: 8px;
    padding-top: 0px;
}
.valign
{
  text-align: center;
}
.compare_choose {
    width: 100%;
    margin-bottom: 10px !important;
    margin-left: 0px !important;
}
.compare_buynow {
    padding: 12px 20px !important;
    margin-top: 20px !important;
    background: #000 !important;
    color: #fff !important;
}
.compare_addtocart {
    background: orange !important;
    padding: 10px 3px !important;
    color: #fff !important;
    font-weight: 800 !important;
    font-size: 10px !important;
}
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
.compare_addtocart {
    background: orange !important;
    padding: 10px 5px !important;
    color: #fff !important;
    font-weight: 800 !important;
    font-size: 12px !important;
}
.compare_title h6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.MuiOutlinedInput-input {
    padding: 10.5px 0px !important;
}
}
/* Comparison */





/* Cart */

.cart_free
{
  color: green;
    font-weight: bold;
}
.cart_heads
{
  padding: 15px 0px;
}
.cart_gift
{
  padding-bottom: 0px !important;
    border-bottom: none !important;
}

.cart_datas p {
    display: -webkit-flex;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    margin-left: 0px;
    -webkit-align-items: center;
    align-items: center;
    line-height: 30px;
}
.cart_datas h6 {
    color: #000 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 25px;
    width: 400px;
}
.cart_total h6 {
    text-align: left;
    padding: 10px 10px;
    background: #deeac4;
    border-radius: 5px;
    color: green;
    font-weight: bold;
}
.cart_total
{
  border-top: 1px dotted green;
    font-weight: bold;
}
.cart_coupon
{
    font-weight: bold;
    color: #000;
    text-decoration: none;
    border-bottom: none !important;
}
.cart_couponcode
{
        border: 1px solid #ccc !important;
    padding: 8px 0px !important;
    border-radius: 5px;
    color: #000;
    width: 250px;
}
.cart_protitles
{
  padding: 10px;
}
.cart_prowrp {
    padding: 18px;
    border: 0px solid #ccc;
    background: #f2f4f6;
    border-radius: 5px;
}
.cart_couponcode input {
    margin-left: 15px !important;
}
.cart_payments {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    margin-bottom: 20px;
}
.cart_payments h6 {
    align-items: center;
    padding: 12px;
    font-weight: bold;
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;

}
.cart_payments h6 svg
{
  margin-right: 16px;
}
.MuiInput-underline:before {
    border-bottom: 0px solid rgba(0, 0, 0, 0.42) !important;
 } 
 .MuiInput-colorSecondary.MuiInput-underline:after {
    border-bottom-color: #fff;
}
 .cart_button
 {
    width: 250px;
    padding: 13px 10px !important;
    margin-left: 19px !important;
    background: black !important;
    color: white !important;
    font-weight: bolder !important;
 }
 .cart_checkout {
    
    width: 100%;
    border-radius: 5px !important;
    margin-top: 0px !important;
    padding: 10px 10px !important;
    background: orange !important;
    color: #fff !important;
    font-weight: bold !important;
    
}
.cart_product h6 {
    font-weight: bold;
    text-transform: capitalize;
}
.cart_billing h6 {
    color: #000 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 25px;
    width: 400px;
}
.cart_billing p {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    margin-left: 0px;
    align-items: center;
    line-height: 30px;
}
.cart_billing p span {
    margin-left: 3px;
}
.cart_header
{
        flexGrow: 1;
        margin: 20px;
}
.card_paper
{
 padding:40px 20px 20px 20px;
 border-bottom: 1px solid #ccc;
}
.cart_amount
{
  padding: 10px;
}
.cart_rating
{
  color:#000 !important;
}
.cart_price
{
  color:#ff7d06 !important;
}
.cart_wishlist
{
    background: #fff;
    box-shadow: 5px solid #ccc;
    padding:0px 0px 0px 0px !important;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.cart_move
{
        background: #ff7d06;
    padding: 10px 30px 10px 30px;
    font-size: 14px !important;
    border-radius: 5px;
    font-weight: 600 !important;
    color: #fff;
    margin-bottom: 30px !important;
}
.cart_moves
{
    padding: 15px 0px 0px 30px;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #000;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.cart_flexing svg {
    margin-right: 15px;
}
.address_payments
{
  border:1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.address_payments h6 {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    display: flex;
}
.cart_details
{
  padding: 25px 25px 25px 25px;
  border-bottom: 1px solid #ccc;
  margin: 0px auto !important;
  width: 100% !important;
}

.cart_rate span:nth-child(1) {
    padding: 0px 5px;
    color: #ff7d06 !important;
    font-weight: bold !important;
}
.cart_rate span:nth-child(2) {
    padding: 0px 5px;
    color: #717171 !important;
    font-weight: bold !important;
}
.cart_rate span:nth-child(3) {
    padding: 0px 5px;
    color: green !important;
    font-weight: bold !important;

}
.cart_delivery select {
    padding: 14px 25px;
    background: #fff;
    border-radius: 20px;
    
}
.MuiFilledInput-underline:after {
   
    border-bottom: 0px solid #3f51b5 !important;
    
}
.MuiFilledInput-underline:before {
   
    border-bottom: 0px solid rgba(0, 0, 0, 0.42) !important;
    
}
.cart_delivery
{
  border: 1px solid #ccc !important;
    border-radius: 5px;
    width: 100%;
}
.MuiInput-underline:after
{
  border-bottom: 0px solid #3f51b5 !important;
}
.cart_sum
{
  display: flex;
  padding: 8px;
}
.cart_free
{
    padding: 10px 0px;
    font-size: 15px !important;
    color:green;
    font-weight:600 !important;
}
.cart_free span {
    margin-left: 10px;
    color: #000 !important;
    font-weight:600;
}
.cart_divided
{
  border-bottom: 1px dotted green;
  padding-bottom: 10px !important;
}
.cart_item
{
    padding: 10px 15px 5px 15px;
    font-size: 15px !important;
    font-weight: 600 !important;
    color: #000;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.prot-second h6 {
    font-size: 16px;
    font-weight: 600;
    color: #2b2b2b;
    text-transform: capitalize;
}
.cart_rates
{
  margin-bottom: 15px !important;
}
.cart_rates span:nth-child(1) {
    padding: 0px 5px;
    color: #ff7d06 !important;
    font-weight: bold !important;
}
.cart_rates span:nth-child(2) {
    padding: 0px 5px;
    color: #717171 !important;
    font-weight: bold !important;
}
.cart_rates span:nth-child(3) {
    padding: 0px 5px;
    color: green !important;
    font-weight: bold !important;

}
.cart_protect
{
    background: #000 !important;
    color: #fff !important;
    padding: 10px 30px 10px 30px !important;
    text-align: center !important;
    text-transform: capitalize !important;
}
.pro-titles
{
  padding: 10px;
}
.pro-wrps {
    padding: 18px;
    border: 1px solid #ccc;
    background: #f2f4f6;
    border-radius: 5px;
}
.cart_ram
{
      text-transform: uppercase;
    color: #8a8c8e;
    font-weight: 500;
}
.MuiButtonGroup-groupedOutlinedHorizontal:nth-child(2) {
    border-top: none !important;
    border-bottom: none !important;
}
.cart_summary
{
  padding: 0px !important;
  display: flex;
  padding-top: 10px !important;
}
.cart_summary .flexing
{
  padding: 0px !important;
}
.cart_summarys
{
  padding:0px 0px 0px 10px !important;
}
.gifts
{
  margin-top: 10px;

}
.address_payments h6 svg {
    margin-right: 20px !important;
}
/* protection */

.cart_protectioncontent {
  display: flex;
  
}

.cart_protfirst {
    display: flex;
    text-align: center;
    align-items: end;
}

.protection-main {
  display: flex;
  padding-bottom: 20px;
 
}
.cart_protitle {
  padding: 20px;
}
.cart_prowrp {
    padding: 18px;
    border: 0px solid #ccc;
    position: relative;
  
}
.inner-wrp {
  padding: 13px;
}

.cart_protitle h4 {
  margin-left: 14px;
  font-size: 17px;
  font-weight: 600;
}
.readmore p {
  margin-top: 10px;
  color: #7d7878;
}

.cart_protsecond h6 {
  font-size: 16px;
  font-weight: 600;
  color: #2b2b2b;
  text-transform: capitalize;
}
.cart_protsecond {
  margin-left: 10px;
}

.cart_protsecond h5 {
  color: #388e3c!important;
  font-size: 15px;
  font-weight: 800;
}
.cart_protsecond h5 span {
  color: #9e9e9e!important;
  
}

.checkwrp{
    position: absolute!important;
    top: 0px;
    left: 0px;
}

.readmore a{
  color: hsl(28deg 100% 53%);
  font-weight: 700;
}



@media only screen and (max-width : 767px) {
.cart_moves {
    padding: 10px 0px 0px 0px !important;
    
}
.summary {
    padding: 10px 0px 10px 0px !important;
}
.cart_protect {
    padding: 10px 10px 10px 10px !important;
}
.cart_button {
    width: 100%;
    padding: 0px 0px !important;
}
.cart_couponcode label
{
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    width: 100% !important;
}
}


/* Add Address  css  */

.add_payment {
    
    width: 100%;
    margin-top: 15px !important;
    padding: 15px 15px !important;
    background: orange !important;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
    font-size: 16px !important;
    
}
.add_wishlist
{
    background: #fff;
    box-shadow: 5px solid #ccc;
    padding:0px 0px 0px 0px !important;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.add_heads
{
  padding: 15px 0px;
}
.add_header
{
        flexGrow: 1;
        margin: 30px;
}
.add_data label {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    font-style: revert;
}
.add_location svg {
    font-size: large;
    margin-right:15px;
}
.add_field input
{
  width: 550px;
}
.add_flexing
{
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  padding: 0px;
}
.add_summary
{
  display: flex;
  padding-bottom: 20px;
}
.add_align
{
  display: flex;
  padding: 20px 0px !important;
}
.add_price
{
  padding: 25px;
}
.add_payments {
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.add_payments h6 {
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    display: flex;
}
.add_payments h6 svg {
    margin-right: 20px !important;
}
.add_coupon
{
      color: green;
    text-transform: uppercase;
}
.add_total
{
  border-top: 2px dotted #ccc;
    font-weight: bold;
}
.add_total h6
{
  text-align: left;
    padding: 15px 15px;
    background: #deeac4;
    border-radius: 5px;
    color: green;
    font-weight: bold;
}
.add_sum {
    padding: 0px 0px 0px 10px !important;
}
.add_details
{
  padding: 25px 25px 25px 25px;
  border-bottom: 1px solid #ccc;
  margin: 0px auto !important;
  width: 100% !important;
}
.add_banner
{
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  display: flex;
  padding: 5px !important;
  font-size: 20px;
}
.add_flexing svg {
    margin-right: 15px;
   
  }
.add_location
{
    width: 82%;
    background: #000 !important;
    text-transform: capitalize !important;
    padding: 10px 5px !important;
    color: #fff !important;

}
.add_forms .MuiTextField-root
{
 width: 35ch;
 margin: 4px;
}
.add_labels select {
    padding: 12px 10px !important;
}
.add_text
{
  margin:6px;
  padding: 10px 0px;
  
}
.add_radio
{
  display: inline-flex;
  align-items: center;
  margin:6px;
}
.add_radio legend {
    margin-right: 40px;
    font-weight: bold;
}

.MuiRadio-colorPrimary.Mui-checked:hover {
    background-color: #fff !important;
}
.MuiIconButton-colorPrimary:hover {
    background-color: #fff !important;
}
.add_address label
{
  font-weight: bold;
}
.add_address
{
  height: 120px;

}
.add_labels label
{
  font-weight: bold;

}
.add_labels
{
  margin-top: 24px !important;
}
.add_buttons
{
    padding: 20px 20px !important;
    background: linear-gradient(to right, #ffa50c 0%, #ff8109 100%) !important;
    width: 275px;
    margin: 6px !important;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: capitalize;
}
.add_buttons span
{
  text-transform: capitalize;
}
.add_cancels span
{
  text-transform: capitalize;
}
.add_cancels
{
    padding: 20px 20px !important;
    background: white !important;
    width: 275px;
    margin: 6px !important;
    color: #000 !important;
    border: 1px solid #868585 !important;
    text-transform: capitalize;
}
.add_radio label {
    margin-left: 30px;
}
@media only screen and (max-width : 767px) {
.add_forms .MuiTextField-root
{
 width: 100%;
 margin: 8px;
}
.add_sum {
    padding: 15px 0px 0px 0px !important;
}
.add_text {
    margin: 6px 0px 6px 6px;
    padding: 10px 0px;
}
}



/* Address  page css */
.address_option
{
    background: #ededed ;
    padding: 5px 10px 5px 10px ;
    font-size: 14px ;
    border-radius: 10px ;
    font-weight: 600 ;
}
.address_data h6
{
      color: #000 !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}
.address_data p
{
  color: #191919 !important;
    /* font-size: 15px; */
    font-weight: 600;
    margin-bottom: 15px;
    width:100%;
}

.button_back
{
  background-color: #ffffff !important;
  border: 1px solid #aeaeae !important;
  margin:0px 10px !important;
}

.address-details
{
  box-shadow: none !important;
    border-bottom: 1px solid #aeaeae;
    border-radius: 0px !important;
}
.address_span
{
    padding: 5px 15px;
    /* background: #a94747; */
    border: 1px solid #ccc;
    border-radius: 5px;
    color: green;
    margin: 20px 20px;
}
.address_price
{
  padding: 10px;
}
.address_add{
    margin: 10px;
    flex-grow: 1;
}
.summary
{
  padding-top: 0px !important;

}
.address_total h6
{
  text-align: left;
    padding: 10px 10px;
    background: #deeac4;
    border-radius: 5px;
    color: green;
    font-weight: bold;
}
.address_payment
{
  border:1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.address_payment h6 {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}
.payment
{
  width: 100%;
    border-radius: 5px !important;
    margin-top: 30px !important;
    padding: 10px 10px !important;
    background: orange !important;
    color: #fff !important;
    font-weight: bold !important;
}
.address_total
{
  border-top: 1px dotted green;
    font-weight: bold;
}
.address_link
{
  margin: 0px 350px;
}
.colorchange
{
  color: orange;
}
.address_head
{
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  display: flex;
}
.address_paper
{
        margin: auto;
        maxWidth: 100%;
        padding:25px;
        border-bottom:1px solid #ccc;
}
.address_grid
{
      background: #fff;
    box-shadow: 5px solid #ccc;
    border-radius: 10px;
    padding:10px 0px 0px 0px !important;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.address_paper:last-child
{
  border-bottom: none !important;
}
.flexing
{
  flex-grow: 1;
  padding:8px;
}
.address_summary
{
  display: flex;
  padding:8px;
}
.address_cart
{
  width: calc(100% + 24px);
  margin: -12px;
}


@media only screen and (max-width : 380px) {
  
.address_data p {
   
    font-size: 15px;
   
       width: 100%;
}
.address_option {
    margin-top: 20px !important;
    margin-left: 50px !important;
}
}
@media screen and (max-width: 590px) and (min-width: 401px) {
  .address_link {
     margin: 0px 0px !important; 
}
.address_data p {
    
    width: 100%;
    font-size:13px;
}
.address_span {
    padding: 5px 10px !important;
  
}

.button_back {
    
    margin: 0px 3px !important;
}
}
@media screen and (max-width: 767px) and (min-width: 591px) {
 .address_option {
    margin-top: 20px !important;
    margin-left: 50px !important;
}
}

/* Address  page css */


/* Exchange offer */

.exchange_offer
{
    font-weight: 900 !important;
    background: #e1f5fe !important;
    border: 1px solid #e1f5fe !important;
    color: #000 !important;
    text-transform: capitalize !important;
    margin: 10px 10px !important;
}
.exchange_work
{
  text-align: center;
    padding: 10px 10px;
}
.exchange_data
{
      padding: 10px 10px;
    background: #f2f4f6;
}
.exchange_data h6
{
  font-weight: bold;
  text-transform: capitalize;
}
.exchange_data h5
{
    font-weight: bold;
    font-size: larger;
    color: #b7bcc2;
    text-transform: capitalize;
    font-family: inherit;

}
.exchange_button
{
    padding: 10px 30px !important;
    background: linear-gradient(to right, #ffa40c 0%, #ff860a 100%) !important;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
}
.exchange_head
{
  font-weight: bold;
  display: -webkit-flex;
  display: flex;
}
.MuiDialogContent-dividers {
   
    border-top: 0px solid rgba(0, 0, 0, 0.12) !important;
    border-bottom: 0px solid rgba(0, 0, 0, 0.12) !important;
    
}
.exchange_divided
{
  padding-bottom: 25px !important;
}
/* end Exchange mobile */