/* protection */

.protection-content {
  display: flex;
  
}

.prot-first {
    display: flex;
    text-align: center;
    align-items: end;
}

.protection-main {
  display: flex;
  padding-bottom: 20px;
 
}
.pro-title {
  padding: 20px;
}
.pro-wrp {
    padding: 18px;
    border: 1px solid #ccc;
    position: relative;
  
}
.inner-wrp {
  padding: 13px;
}

.pro-title h4 {
  margin-left: 14px;
  font-size: 17px;
  font-weight: 600;
}
.readmore p {
  margin-top: 10px;
  color: #7d7878;
}

.prot-second h6 {
  font-size: 16px;
  font-weight: 600;
  color: #2b2b2b;
}
.prot-second {
  margin-left: 10px;
}

.prot-second h5 {
  color: #388e3c!important;
  font-size: 15px;
  font-weight: 800;
}
.prot-second h5 span {
  color: #9e9e9e!important;
  
}

.checkwrp{
    position: absolute!important;
    top: 0px;
    left: 0px;
}

.readmore a{
  color: hsl(28deg 100% 53%);
  font-weight: 700;
}
